# compiled output
/dist
/node_modules
/build
.idea

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# temp directory
.iml
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock
